* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f4f8;
    display: flex;
    justify-content: center;
    padding: 40px;
}

form {
    background: #fff;
    padding: 25px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.error {
    color: rgb(7, 237, 122);
    font-size: 16px;
    display:flex;
    margin-bottom: 10px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    word-spacing: 25px;
    letter-spacing: 25px;
    text-transform: unset;
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* Responsive */
@media (max-width: 600px) {
    body {
        padding: 20px;
    }
    /* tablets (min-width : 768px and max-width :1024px)*/
    @media only screen and (min-width : 768px)and (max-width:1024) {
        /* styles for tablets */
        body{
            padding:60px;
            margin : auto;
            background-color:#fff;
    }
    /* desktops (min-width: 1024px)*/
    @media only screen and (min-width:1024px) {
        /* style for desktops*/
        body{
            padding:60px;
            margin : auto;
            background-color:#fff;
        }
            
    }
}

